# Name of your application. Used to uniquely configure containers.
service: reddit-monitor

ssh:
  user: martins

# Name of the container image.
image: martinsberzinsbn/reddit-monitor

# Deploy to these servers.
servers:
  web:
    - bn-vm.bnsystems.lv

proxy:
  ssl: false
  host: ideas.bnsystems.lv
  app_port: 4009
  healthcheck: # <-- Correctly placed inside the proxy block
    path: /api/up

# Credentials for your image host.
registry:
  server: ghcr.io
  username: MartinsBerzinsBN
  password:
    - CONTAINER_REGISTRY_PASSWORD

# Configure builder setup.
builder:
  arch: amd64
  # build on the bee-link
  remote: ssh://martins@bn-vm.bnsystems.lv

# Path to database
# NOTE: This app stores its SQLite DB at ./data/reddit-monitor.sqlite (inside the container: /usr/src/app/data/reddit-monitor.sqlite)
# If you deploy a non-backwards-compatible schema change and are assuming a blank DB (no migrations), stop the service and delete the persisted DB files on the host:
#   /home/martins/reddit-monitor/data/reddit-monitor.sqlite
#   /home/martins/reddit-monitor/data/reddit-monitor.sqlite-wal
#   /home/martins/reddit-monitor/data/reddit-monitor.sqlite-shm
# Then redeploy/restart and the DB will be recreated.
volumes:
  - /home/martins/reddit-monitor/db:/usr/src/app/db

env:
  clear:
    PORT: 4009
  secret:
    - NUXT_DISCORD_WEBHOOK_URL
    - NUXT_SESSION_PASSWORD
    - NUXT_OPENAI_API_KEY
